!!!
%html
  %head
    %script{ :src => '/libs/jquery-1.7.1.min.js', :type => 'text/javascript' }
    %script{ :src => '/build/options.js', :type => 'text/javascript' }
    %link{ :href => '/resources/css/bootstrap.min.css', :rel => 'stylesheet' }
    %style
      label { font-size: 16px; }
  %body
    .container
      %h1 Blink Watcher Options
      %form.well.form-horizontal
        %fieldset
          .control-group
            %label.control-label{ :for => 'play_sounds' } Play Sounds
            .controls
              %input#play_sounds{ :type => 'checkbox', :value => 'true', :name => 'play_sounds' }
